:root {
	--base: #E3B50C;
	--color: black;
}

@keyframes warning {
	/* Unexpectedly easier than I thought this would be */
	from {
		clip-path: path(
			'm 0  72 l 72 -72 l 72 0 l -72 72 z\
			 m 144 0 l 72 -72 l 72 0 l -72 72 z\
			 m 144 0 l 72 -72 l 72 0 l -72 72 z\
			 m 144 0 l 72 -72 l 72 0 l -72 72 z\
			 m 144 0 l 72 -72 l 72 0 l -72 72 z'
		);
	}
	to {
		clip-path: path(
			'm -144 72 l 72 -72 l 72 0 l -72 72 z\
			 m 144   0 l 72 -72 l 72 0 l -72 72 z\
			 m 144   0 l 72 -72 l 72 0 l -72 72 z\
			 m 144   0 l 72 -72 l 72 0 l -72 72 z\
			 m 144   0 l 72 -72 l 72 0 l -72 72 z'
		);
	}
}

body {
	background-color: var(--base);
	font-family: sans-serif;
}

main {
	display: inline-block;
	/* Example of me flexing my insanely huge brain */
	transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

section {
	display: flex;
	align-items: flex-end;
}

div {
	display: inline-block;
	width: 12em;
	vertical-align: bottom;
	border: solid var(--color);
	border-width: 0 1rem;
}

div + div {
	margin-left: 1rem;
}

h2 {
	background-color: var(--color);
	color: var(--base);
	margin: 0;
	text-align: right;
	font-size: .6em;
}

a {
	background-color: var(--color);
	text-decoration: none;
	color: var(--base);
	padding: .4em;
	display: block;
	border: solid var(--color);
	border-width: .3rem 0;
	position: relative;
	min-height: 1em;
	height: auto;
}

a + a { /* *+a looks bad */
	margin-top: .4em;
}

a::before {
	content: attr(title);
}

a::after {
	content: attr(title);
	position: absolute;
	top: 0; left: 0;
	padding: inherit;
	background-color: var(--base);
	color: var(--color);
	width: 100%;
	box-sizing: border-box;
	opacity: 0;
	pointer-events: none;
	transition: .4s opacity;
	animation: 1s warning infinite linear;
}

a:hover::after {
	opacity: 1;
}

input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	color: var(--base);
	border: 1rem solid var(--color);
	background-color: var(--color);
	margin-top: 1rem;
	font-size: 2em;
}
